body {
	background: #f6f6f6;
	font-family: "Arial", Arial, sans-serif;
}
ul {
	background-color: white;
	list-style-type: none;
}
ul,h1,h2,p {
	font-weight: normal;
	display: block;
	margin: 0;
	padding: 0;
}
h1 {
	text-transform: uppercase;
	font-size: 20px;
	color: #43b381;
}
h2,h3 {
	font-size: 16px;
}
h3 {
	font-weight: bold;
}
p {
	font-size: 12px;
}
.myList>li {
	padding: 0px 15px;
	margin: 2px 0px;
	height: 50px;
	display: flex;
	box-shadow: 0 0 1px 1px lightgrey;
}
li:last-child {
	border-radius: 0 0 5px 5px;
}
li:first-child {
	border-radius: 5px 5px 0 0;
	background-color: #f6f6f6;
}
.autoMargin {
	margin: auto;
}
.flex {
	flex: 1;
}
.myList {
	border-radius: 5px;
}
.darken {
	opacity: 0.5;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background-color: black;
	z-index: 3;
}
.popup {
	height: auto;
	min-width: 800px;
	width: auto;
	background-color: white;
	z-index: 5;
	position: fixed;
	display: block;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 3px;
	box-shadow: 0 0 1px 1px #3f3f3f;
}
.view {
	border-radius: 3px;
	border: 1px solid #646464;
	background-color: #43b381;
	padding: 5px 10px;
	margin-right: 5px;
	color: white;
}
.remove {
	border: none;
	background-color: white;
	padding: 0px;
	margin: 0px;
	text-align:center;
}
.pageNumber {
	width: 17px;
	height: 20px;
	margin: 0 5px;
	padding-left: 5px;
	padding-right: 0;
	background-color: #d7d7d7;
	border: none;
	border-radius: 3px;
}
.pageNumber::-webkit-inner-spin-button, 
.pageNumber::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}
.pageButton {
	background-color: white;
	border: 1px solid #d7d7d7;
	border-radius: 3px;
	font-family: "Arial", Arial, sans-serif;
	font-weight: bold;
	height: 22px;
}
.hiddenPopup {
	display: none;
}
.center {
	text-align: center;
	display: flex;
}
.close {
	margin-top: 5px;
	margin-right: -10px;
	text-align: right;
	background-color: white;
	border: none;
}
.catalog {
	background-color: #41b381;
}
.catalog,.note {
	padding: 5px;
	color: white;
	border: 1px solid #646464;
	border-radius: 3px;
}
.note {
	background-color: #3c2e67;
}
.popupTable {
	width: 100%;
}
.popupTable>tbody>tr {
	display: flex;
	margin: 0 15px;
}
.popupTable>tbody>tr>td {
	text-align: left;
	min-height: 50px;
	height: auto;
	flex: 1;
	margin: 0 5px;
}
.popupTable>tbody>tr>td>select,.popupTable>tbody>tr>td>button {
	width: 100%;
}
.popupTable>tbody>tr>td>p:first-child {
	text-transform: uppercase;
	font-size: 14px;
	color: #a6a6a6;
	border-bottom: 3px solid #a6a6a6;
	width: 100%;
	margin-bottom: 3px;
}
.popupTable>tbody>tr>td>p:last-child {
	font-size: 14px;
	color: black;
	font-weight: bold;
}
.popupTable>tbody>tr>td>select {
	background-color: white;
	color: #a6a6a6;
}
